@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts: */
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@600&family=Lato&family=Roboto&display=swap');

.title {
    font-family: 'Chivo', sans-serif;
}

.heading {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.1rem;
}

.paragraph {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
}



/* Scrollbar: */
/* Width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #2B1439;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1a0d26;
    width: 10px;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #58376D;
}

/* Animations: */

@keyframes fade_left {
    0% {
        opacity: 0;
        transform: translateX(-15%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes menu {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes menu_exit {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.fade_left {
    animation: fade_left 2s;
}

.fade {
    animation: fade 2s;
}

.menu {
    animation: menu 1s;
}

.menu_exit {
    animation: menu_exit 1s;
}